langchain-openai
langchain_cohere
langchain_core
langchain-community
streamlit
python-dotenv
langsmith
tiktoken
langchainhub 
chromadb
langgraph
langchain-mistralai
beautifulsoup4
langchain_experimental
pandas
pandasai
tabulate
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
faiss-cpu
beautifulsoup4
langchainhub
ipykernel
unstructured
python-pptx
Pillow
pymongo