langchain-openai
langchain_cohere
langchain_core
streamlit
python-dotenv
langsmith
tiktoken
langchainhub 
chromadb
langgraph
langchain-mistralai
beautifulsoup4
langchain_experimental
pandas
tabulate